{% extends 'base.html.twig' %}

{% block title %}Hello ListFileController!{% endblock %}

{% block body %}

    <h1>Archivos</h1>

    {% for file in files %}
        <p>
        <div>
            <b>Nombre:</b> {{ file.name }}

            <br>

            <b>Descriccion:</b> {{ file.description }}

            <br>

            <b>Archivo:</b> <a href='./uploads/file/{{ file.filename }}'>
                {{ file.filename }}
            </a>

            <br>

            {# <b>User:</b> {{ file.userId }} #}
        </div>
    {% endfor %}

{% endblock %}
